@model Order
@{
    ViewBag.Title = "OrderDetailList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OrderDetailList</h2>



<style>
    .genislik {
        width: 300px;
    }
</style>
@using (Html.BeginForm("OrderDetailListValue", "OrderDetail", FormMethod.Post))
{

    @Html.HiddenFor(x => x.ID)
    <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
        <thead>
            <tr>
                <th>Sipariş Detayları</th>
                <th>Sipariş Detay Degeri</th>

                <th class="hidden-phone">Sil</th>
                <th class="hidden-phone">Güncelle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (OrderDetail item in Model.OrderDetails)
            {
                <tr class="gradeX">
                    <td>@item.Product.ProductName</td>
                    <td>
                        @Html.TextBox("valueName", null)
                    </td>
                    <td class="hidden-phone">@item.Status</td>
                    <td class="center hidden-phone">
                        @Html.ActionLink("Sil", "DeleteOD", new { id = item.ID }, new { @class = "btn btn-danger" })
                    </td>
                    <td class="center hidden-phone">@Html.ActionLink("Güncelle", "UpdateOD", new { id = item.ID }, new { @class = "btn btn-warning" })</td>
                </tr>
            }


        </tbody>
    </table>

    if (Model.OrderDetails.Count != 0)
    {
        <button class="btn btn-primary"> Ozellikleri kaydet</button>
    }

}


